
__pycache__/done.cpython-38.pyc
__pycache__/done.cpython-38.pyc
.ipynb_checkpoints/done-checkpoint.ipynb
.ipynb_checkpoints/done-checkpoint.ipynb
__pycache__/done.cpython-38.pyc
__pycache__/done3.cpython-38.pyc
*.pyc
.ipynb_checkpoints/done-checkpoint.ipynb
__pycache__/done.cpython-38.pyc
